body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(60,60,60);
  box-sizing: border-box;
  padding: 24px;
  margin: 0px;
}
body {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 100vh;
}
body div {
  background-color: rgb(70,70,70);
  text-align: center;
  font-size: 1.5rem;
  padding: 24px 32px;
  border-radius: 12px;
  color: #fff;
}